.create-modal {
    background-color: rgba(255, 255, 255, 0.5)
}

.create-appbar {
    margin-bottom: 26px;
}

.create-form {
    display: flex;
    padding: 32px;
}

.form-button {
    align-self: flex-end;
}

.MuiGrid2-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;

    & * .label {
        color: #1976d2
    }
}

.MuiGrid2-container:last-child {
    align-self: flex-end;
}

.MuiTextField-root {
    width: 100%
}

.MuiGrid2-root .MuiFormControl-root {
    width: 100%;
    margin: 0;
}

.MuiInputBase-root {
    width: 100%;
}