.filter-input-label {
  display: block;
  align-self: center;
  margin: 0;
  color: #1976d2;
  font-size: 18px;
  padding-right: 20px;
}

.filter-table {
  display: flex;
  justify-content: center;
}

.clear-filter-button {
  border-color: #1976d2;
  align-self: center;
  margin: 0;
}
